@import './abstracts/vars';

@import './normalize';

@import './fonts';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    // border: 1px solid red;
}

body {
    font-family: "MuliRegular", sans-serif;
    font-size: 10px;
}

.container {
    max-width: 1740px;
    margin: 0 auto;
    padding: 0 10px;
}


@import './components/buttons';
@import './components/letters';

@import './layout/header';
@import './inblocks/navigation';
@import './inblocks/personal';
@import './inblocks/social';
@import './layout/smoothies';
@import './layout/about';
@import './layout/product';
@import './layout/story';
@import './layout/testimonials';
@import './layout/blog';
@import './layout/instagram';
@import './layout/footer';
@import './inblocks/information';
@import './inblocks/payment';

@import './media';