$btnColor: #0aa566;

%btn {
    font-family: "MuliBold", sans-serif;
    font-size: 21px;
    line-height: 22px;
    color: #ffffff;
    border-radius: 30px;
    background: transparent;
    transition: 1s;
}