@font-face {
    font-family: "MuliRegular";
    src: url(./../fonts/Muli-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "MuliBold";
    src: url(./../fonts/Muli-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "MuliExtraBold";
    src: url(./../fonts/Muli-ExtraBold.ttf) format("truetype");
}

@font-face {
    font-family: "MuliItalic";
    src: url(./../fonts/Muli-Italic.ttf) format("truetype");
}

@font-face {
    font-family: "MuliBoldItalic";
    src: url(./../fonts/Muli-BoldItalic.ttf) format("truetype");
}

@font-face {
    font-family: "MuliSemiBoldItalic";
    src: url(./../fonts/Muli-Semi-BoldItalic.ttf) format("truetype");
}