.title {
    font-family: "MuliExtraBold", sans-serif;
    font-size: 50px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #f7ae3b;
}

.text {
    font-family: "MuliRegular", sans-serif;
    font-size: 18px;
    line-height: 35px;
    color: #1e1e1e;
}