.payment {

    &__list {
        max-height: 160px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 33px;
    }
    
    &__img {
        margin-right: 20px;
        margin-bottom: 20px;
    }
}


