.blog {
    padding-top: 97px;
    padding-bottom: 190px;
}

.blog__wrapper {
    display: flex;
    margin-left: 359px;
}

.blog__container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.blog__img {
    margin-top: 59px;
    z-index: 1;
    object-fit: cover;
    max-width: 555px;
    width: 100%;
}

.blog__title {}

.blog__box {
    display: flex;
    align-items: center;
    margin-top: 169px;
}

.blog__container::after {
    content: "";
    background-image: url(./../images/line_3286.png);
    position: absolute;
    width: 687px;
    height: 12px;
    top: 170px;
    left: 515px;
}

.blog__article {
    margin-left: 63px;
    margin-top: 13px;
}

.blog__name {
    font-family: "MuliExtraBold", sans-serif;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #f2612d;
}

.blog__date {
    line-height: 36px;
    letter-spacing: 0.02em;
}

.blog__text {
    max-width: 530px;
    margin-top: 23px;
    padding: 0 0 0 50px;
}

.blog__btn {
    font-family: "MuliBoldItalic", sans-serif;
    background: transparent;
    border: none;
    position: relative;
}

.blog__btn::after {
    content: "";
    background-image: url(./../images/arrow_3289.png);
    position: absolute;
    width: 18px;
    height: 10px;
    top: 5px;
    right: -30px;
}