.footer {

    &__top {
        background-color: #f6ac38;
        display: flex;
        justify-content: space-evenly;
        padding-top: 67px;
        padding-bottom: 74px;
    }
    
    &__logo {
        margin-top: 67px;
    }
    
    &__title {
        font-family: "MuliBold", sans-serif;
        font-size: 26px;
        line-height: 40px;
        letter-spacing: -0.02em;
        color: #ffffff;
    }
    
    &_information {
        display: flex;
        flex-direction: column;
    }
    
    &__payment {
        max-width: 300px;
    }
    
    &__column {
        position: relative;
    }
    
    &__form {
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        position: relative;

        &::before {
            content: "";
            background-image: url(./../images/icon_3374.png);
            position: absolute;
            width: 24px;
            height: 19px;
            left: 23px;
            top: 23px;
        }
        
        &::after {
            content: "";
            background-image: url(./../images/arrow_3385.png);
            position: absolute;
            width: 48px;
            height: 43px;
            bottom: 9px;
            left: 120px;
        }
    }

    &__box {
        font-family: "MuliBold", sans-serif;
        font-size: 17px;
        line-height: 35px;
        letter-spacing: -0.02em;
        color: #6d450c;
        width: 498px;
        height: 63px;
        background-color: #ffffff;
        border-radius: 30px;
        border: none;
        outline: none;
        padding-left: 62px;
    }
    
    &__inner {
        font-family: "MuliExtraBold", sans-serif;
        font-size: 18px;
        line-height: 40px;
        letter-spacing: -0.02em;
        color: #6d450c;
        background: transparent;
        border: none;
        margin-top: 23px;
        margin-right: 24px;
    }
    
    &__social {
        display: flex;
        position: absolute;
        right: 57px;
        bottom: 47px;
        column-gap: 25px;
    }

    &__bot {
        background-color: #6a2d1e;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    &__copy {
        font-family: "MuliRegular", sans-serif;
        font-size: 13px;
        line-height: 35px;
        letter-spacing: 0.05em;
        color: #af8a82;
    }
    
    &__go-top {
        font-family: "MuliBold", sans-serif;
        font-size: 16px;
        line-height: 40px;
        letter-spacing: -0.02em;
        color: black;
        position: fixed;
        right: 165px;
        bottom: 15px;

        &::after {
            content: "";
            background-image: url(./../images/icon_3393.png);
            position: absolute;
            right: -65px;
            bottom: 20px;
            width: 53px;
            height: 53px;
            background-color: #f2662f;
            border-radius: 5px;
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: center;
        }
    }

    &__social-item {}

    &__social-link {}

    &__social-img {}


}
