.footer {}

.footer__top {
    background-color: #f6ac38;
    display: flex;
    justify-content: space-evenly;
    padding-top: 67px;
    padding-bottom: 74px;
}

.footer__logo {
    margin-top: 67px;
}

.footer__title {
    font-family: "MuliBold", sans-serif;
    font-size: 26px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #ffffff;
}

.footer__information {
    display: flex;
    flex-direction: column;
}

.footer__payment {
    max-width: 300px;
}

.footer__column {
    position: relative;
}

.footer__form {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    position: relative;
}

.footer__form::before {
    content: "";
    background-image: url(./../images/icon_3374.png);
    position: absolute;
    width: 24px;
    height: 19px;
    left: 23px;
    top: 23px;
}

.footer__form::after {
    content: "";
    background-image: url(./../images/arrow_3385.png);
    position: absolute;
    width: 48px;
    height: 43px;
    bottom: 9px;
    left: 120px;
}

.footer__box {
    font-family: "MuliBold", sans-serif;
    font-size: 17px;
    line-height: 35px;
    letter-spacing: -0.02em;
    color: #6d450c;
    width: 498px;
    height: 63px;
    background-color: #ffffff;
    border-radius: 30px;
    border: none;
    outline: none;
    padding-left: 62px;
}

.footer__inner {
    font-family: "MuliExtraBold", sans-serif;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #6d450c;
    background: transparent;
    border: none;
    margin-top: 23px;
    margin-right: 24px;
}

.footer__social {
    display: flex;
    position: absolute;
    right: 57px;
    bottom: 47px;
    column-gap: 25px;
}


.footer__social-item {}

.footer__social-link {}

.footer__social-img {}

.footer__bot {
    background-color: #6a2d1e;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.footer__copy {
    font-family: "MuliRegular", sans-serif;
    font-size: 13px;
    line-height: 35px;
    letter-spacing: 0.05em;
    color: #af8a82;
}

.footer__go-top {
    font-family: "MuliBold", sans-serif;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: black;
    position: fixed;
    right: 165px;
    bottom: 15px;
}

.footer__go-top::after {
    content: "";
    background-image: url(./../images/icon_3393.png);
    position: absolute;
    right: -65px;
    bottom: 20px;
    width: 53px;
    height: 53px;
    background-color: #f2662f;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}
