.smoothies {
    padding-top: 100px;
    padding-bottom: 78px;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    
    &__title {}
    
    
    &__text {
        max-width: 915px;
        text-align: center;
        margin: 40px;
    }
    
    &__wrapper {
        margin-top: 45px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        align-items: flex-end;
    }
    
    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 274px;
        height: 205px;

        &:first-child {
            border-right: 2px solid #f6edde;
            border-bottom: 2px solid #f6edde;
        }
        
        &:nth-child(2) {
            border-right: 2px solid #f6edde;
            border-bottom: 2px solid #f6edde;
        }
        
        &:nth-child(3) {
            border-right: 2px solid #f6edde;
            border-bottom: 2px solid #f6edde;
        }
        
        &:nth-child(4) {
            border-bottom: 2px solid #f6edde;
        }
        
        &:nth-child(5) {
            border-right: 2px solid #f6edde;
        }
        
        &:nth-child(6) {
            border-right: 2px solid #f6edde;
        }
        
        &:nth-child(7) {
            border-right: 2px solid #f6edde;
        }
    }

    &__img {}

    &__name {
        font-family: "MuliExtraBold", sans-serif;
        font-size: 25px;
        line-height: 40px;
        letter-spacing: -0.02em;
        color: #f2612d;
        margin-top: 19px;
        text-align: center;
    }
}

